<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<lofproductags>
			<general>
				<enabled>1</enabled>
				<route>tags</route>
				<enable_tag_on_product>1</enable_tag_on_product>
				<show_number_products>1</show_number_products>
				<product_tag_title>Trending</product_tag_title>
				<number_tags>10</number_tags>
				<enable_tag_sidebar>1</enable_tag_sidebar>
				<tag_sidebar_title>Product Tags</tag_sidebar_title>
				<number_tags_sidebar>20</number_tags_sidebar>
			</general>
		</lofproductags>
	</default>
</config>
