<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Lof\ProductTags\Api\TagsManagementInterface" type="Lof\ProductTags\Model\TagsManagement"/>
	<preference for="Lof\ProductTags\Api\ProductsManagementInterface" type="Lof\ProductTags\Model\ProductsManagement"/>
	<preference for="Lof\ProductTags\Api\TagRepositoryInterface" type="Lof\ProductTags\Model\TagRepository"/>
	<preference for="Lof\ProductTags\Api\Data\TagInterface" type="Lof\ProductTags\Model\Tag"/>
	<preference for="Lof\ProductTags\Api\Data\TagSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<preference for="Lof\ProductTags\Api\Data\TagProductLinkInterface" type="Lof\ProductTags\Model\Data\TagProductLink" />

	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="lof_producttags_tag_listing_data_source" xsi:type="string">Lof\ProductTags\Model\ResourceModel\Tag\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<!-- <virtualType name="Lof\ProductTags\Model\ResourceModel\Tag\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">lof_producttags_tag</argument>
			<argument name="resourceModel" xsi:type="string">Lof\ProductTags\Model\ResourceModel\Tag\Collection</argument>
		</arguments>
	</virtualType> -->
	
	<type name="Lof\ProductTags\Model\ResourceModel\Tag\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">lof_producttags_tag</argument>
            <argument name="eventPrefix" xsi:type="string">lof_producttags_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">producttags_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Lof\ProductTags\Model\ResourceModel\Tag</argument>
        </arguments>
    </type>

	<virtualType name="ProducttagsGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
	<type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Lof\ProductTags\Api\Data\TagInterface" xsi:type="string">Magento\ProductTags\Api\TagRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
	<type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Lof\ProductTags\Api\Data\TagInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">lof_producttags_tag</item>
                    <item name="identifierField" xsi:type="string">tag_id</item>
                </item>
            </argument>
        </arguments>
    </type>

	<type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Lof\ProductTags\Api\Data\TagInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>

	<type name="Lof\ProductTags\Ui\Component\DataProvider">
        <arguments>
            <argument name="additionalFilterPool" xsi:type="array">
                <item name="fulltext" xsi:type="object">Magento\Cms\Ui\Component\Page\FulltextFilter</item>
            </argument>
        </arguments>
    </type>
	
</config>
