<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="landofcoder" sortOrder="999" translate="label">
			<label>Landofcoder.com</label>
		</tab>
		<section id="lofproductags" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Lof ProductTags</label>
			<tab>landofcoder</tab>
			<resource>Lof_ProductTags::config_lof_producttags</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>general</label>
				<field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="route" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Route</label>
                    <comment>This text will change your url.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                
                <field id="show_number_products" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show number products beside tags</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>show/hide Show number products beside tags.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                
                <field id="enable_tag_on_product" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable tags block on Product Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>show/hide product tags on product detail page.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="product_tag_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Product Tags Block Title</label>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="enable_tag_on_product">1</field>
                    </depends>
                </field>
                <field id="number_tags" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Limit tags to show</label>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="enable_tag_on_product">1</field>
                    </depends>
                </field>

                <field id="enable_tag_sidebar" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable tag block on Sidebar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>show/hide product tags on sidebar position.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="tag_sidebar_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Sidebar Tags Block Title</label>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="enable_tag_sidebar">1</field>
                    </depends>
                </field>
                <field id="number_tags_sidebar" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Limit tags to show on Sidebar</label>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="enable_tag_sidebar">1</field>
                    </depends>
                </field>
                
			</group>
		</section>
	</system>
</config>